################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JOB IN/FileContentIndex
/JOB IN/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/JOB IN/obj/Debug/net8.0-windows/JOB IN.AssemblyInfo.cs
/JOB IN/obj/Debug/net8.0-windows
/JOB IN/JOB IN.csproj.user
